/nbproject/

##########################
# node modules and dependencies
#########################
node_modules/
npm-debug.log

##########################
# bower dependencies
#########################
bower_components/
.bowerrc

##########################
# bower vendor libraries
#########################
vendor/

##########################
# manual vendor libraries should be added
#########################
vendor
release

#########