<md-sidenav class="" md-component-id="left">
    <nav class="top-nav">
        <md-list>
            <md-item>
                <md-button href="#/home" ui-sref="home" ui-sref-active="selected">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </md-button>
            </md-item>
            <md-item>
                <md-button href="#/todos" ui-sref="todos" ui-sref-active="selected">
                    <i class="icon-pencil"></i>
                    <span>Todos</span>
                </md-button>
            </md-item>
            <md-item>
                <md-button href="#/dashboard" ui-sref="dashboard" ui-sref-active="selected">
                    <i class="icon-cog"></i>
                    <span>Dashboard</span>
                </md-button>
            </md-item>
        </md-list>
    </nav>
</md-sidenav>